@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

body {
    font: 14px/18px Tahoma, Arial, sans-serif;
    background: #f1f1f1;
    margin-top: 2rem;
}

.container {
    width: 80%;
    margin: 30px auto;
    overflow: hidden;
}

.contactForm {
    border-radius: 10px;
    box-sizing: border-box;
    margin: auto;
    max-width: 680px;
    background: white;
}

h1 {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px #54428E solid;

    line-height: 1;
    text-align: center;
    font-weight: normal;
    color: #54428E;
}

.formHeader {
    background: #54428E;
    border-bottom: 4px solid #54428E;
    color: #fff;
    text-align: center;
    overflow: hidden;
    padding: 20px;
    border-radius: 5px;
}

ul.errors {
    width: auto;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #FFD4DE;
}

ul.errors li {
    list-style: none;
    line-height: 30px;
    color: #F70053;
}

form {
    width: 640px;
    overflow: hidden;
    padding: 30px 20px;
}

form * {
    box-sizing: border-box;
}

form input[type="text"],
form input[type="email"],
select,
textarea {
    border: 1px #C5C5C5 solid;
    background: #fff;

    font: 14px/35px Tahoma, Arial, sans-serif;
    color: #8A8A8A;
}

form input[type="text"].error,
form input[type="email"].error,
select.error,
textarea.error {
    border-color: #FFA9C7;
}

form input[type="text"],
form input[type="email"] {
    display: block;
    width: 200px;
    height: 35px;
    padding: 0 15px;
    margin: 0 20px 20px 0;
    float: left;
}

form select {
    width: 200px;
    height: 35px;
    padding: 0 15px;
    border-radius: 0;

    -webkit-appearance: none;
    cursor: pointer;
}

form textarea {
    clear: both;
    display: block;
    width: 100%;
    height: 150px;
    padding: 10px 15px 0 15px;
    margin-bottom: 20px;

    resize: none;

    line-height: 22px;
}

form button[type='submit'] {
    padding: 0 30px;
    height: 40px;
    float: right;
    border: none;
    background: #54428E;

    cursor: pointer;

    font: 14px/35px Tahoma, Arial, sans-serif;
    color: #fff;
}


/* RWD */
@media (max-width: 850px) {
    form {
        width: auto;
        display: flex;
        flex-direction: column;
    }

    form input[type="text"],
    form input[type="email"] {
        width: auto;
        margin: 0;
        margin-bottom: 15px;
    }

    form select {
        width: auto;
        margin-bottom: 15px;
    }
}